:host{
  display: flex;
  height: 100%;
}

.spinner {
    list-style: none;
    flex-grow:1;
    position:relative;
    padding: 0;
    margin: 0;
  }
  
  .spinner:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
  
    width: 10vmin;
    height: 10vmin;
    height: 10%;
  
    margin-left: -5vmin;
    margin-top: -5vmin;
    border-radius: 50%;
    background-color: #b2bbd3;
  }
  
  .spinner li, .spinner li:after{
    position: absolute;
    left: 50%;
    top: 50%;
  
    border-radius: 50%;
    border: 2.5vmin solid;
  
    box-sizing: border-box;
  }
  
  .spinner li:after{
    content: "";
    animation: spin 3s infinite linear;
    border-color: #b2bbd3 transparent transparent transparent;
  }
  
  .spinner li {
    border-color: #232830;
  }
  
  /* I guess a preprocessor would be nice here, or is it a new modern way to solve this with plain css? :thinking_face: */
  
  .spinner li:nth-child(1), .spinner li:nth-child(1):after{
    width: 20vmin;
    height: 20vmin;
  
    margin-left: -10vmin;
    margin-top: -10vmin;
  }
  
  .spinner li:nth-child(2), .spinner li:nth-child(2):after{
    width: 30vmin;
    height: 30vmin;
  
    margin-left: -15vmin;
    margin-top: -15vmin;
  }
  
  .spinner li:nth-child(3), .spinner li:nth-child(3):after{
    width: 40vmin;
    height: 40vmin;
  
    margin-left: -20vmin;
    margin-top: -20vmin;
  }
  
  .spinner li:nth-child(4), .spinner li:nth-child(4):after{
    width: 50vmin;
    height: 50vmin;
  
    margin-left: -25vmin;
    margin-top: -25vmin;
  }
  
  .spinner li:nth-child(5), .spinner li:nth-child(5):after{
    width: 60vmin;
    height: 60vmin;
  
    margin-left: -30vmin;
    margin-top: -30vmin;
  }
  
  .spinner li:nth-child(6), .spinner li:nth-child(6):after{
    width: 70vmin;
    height: 70vmin;
  
    margin-left: -35vmin;
    margin-top: -35vmin;
  }
  
  
  @keyframes spin {
      from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }